.tooltip-text {
    font-size: 14px;
    color: #521b63;
    text-decoration: underline;
    text-emphasis: bold;
}

.tooltip {
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1;
}

;